body{

  padding: 20px;

}

form{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

button{

width: 100px;


}

input:valid{

  background-color: greenyellow;

}

input:invalid{
  background-color: red;
}